PROJECT_ID=demo-project
SERVICE_NAME=demo-service

# Common
DB_LOGGER=True

# For postgresql
#DB_DIALECT=postgresql
# Popular divers for postgresql: pg8000 & psycopg2
#DB_DRIVER=pg8000
#DB_HOST=127.0.0.1
#DB_PORT=5432
#DB_USERNAME=
#DB_PASSWORD=
#DB_DATABASE=

# For SQlite
DB_DIALECT=sqlite
DB_DATABASE=boilerplate
