# Compiled output
/dist
/node_modules
/.pnp
.pnp.js

# Production
/build

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# Enviroment
.env-base
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
.env.development

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Packages
package-lock.json

# Sonarqube Scanner
.scannerwork

**-venv/**

**/__pycache__/**

.coverage

**/__pycache__

**/log_conf.yaml

**.db